* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Roots */
:root {
    --con1white: #ffffff;
    --con1button: #ff2d55;
    --con1grey: #cfcecd;
    --con3darkgrey: #1f211e;
    --con4textcolor: #222532;
}




/*-------------------------------- Container 1 -------------------------------------------------*/
.container1 {
    height: 100vh;
    background-image: url(../media/background1.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

/* Styling Navbar1 */
.navbar1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav10, .nav11 {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 4.5%;
}

#nav100 > a, #nav101 > a, #nav102 > a, #nav103 > a, #nav104 > a, #nav105 > a, #nav106 > a, #nav110 > a, #nav111 > a {
    text-decoration: none;
    color: var(--con1white);
    font-weight: bold;
    font-size: small;
    transition: 0.6s;
}

#nav100 > a:hover, #nav101 > a:hover, #nav102 > a:hover, #nav103 > a:hover, #nav104 > a:hover, #nav105 > a:hover, #nav106 > a:hover {
    font-size: medium;
}

#nav111 {
    border: 1px solid var(--con1button);
    border-radius: 2.5px;
    background-color: var(--con1button);
    padding: 5px;
    transition: 0.6s;
}
#nav111:hover {
    background-color: var(--con1white);
}
#nav111 > a:hover {
    color: var(--con1button);
}

/* Styling Main1 */
.main1 {
    display: flex;
    flex-direction: column;
}

.box1 {
    color: var(--con1white);
    margin-left: 10%;
    margin-top: 15%;
    letter-spacing: .5px;
}

.box1 > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.box1 > p {
    font-size: 17.5px;
    margin-bottom: 20px;
}

#btn1 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: none;
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}
#btn1:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}




/*-------------------------------- Container 2 -------------------------------------------------*/
.container2 {
    height: 100vh;
    background-image: url(../media/background2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.box2 {
    color: var(--con1white);
    margin-left: 10%;
    margin-top: 15%;
    letter-spacing: .5px;
}

.box2 > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.box2 > h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.box2 > p {
    font-size: 17.5px;
    margin-bottom: 20px;
}

#btn2 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: none;
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}
#btn2:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}




/*-------------------------------- Container 3 -------------------------------------------------*/
.container3 {
    height: 100vh;
    background-image: url(../media/backgroundblur3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box3right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.box3right > h1 {
    font-size: 45px;
    color: var(--con1button);
    margin-bottom: 15px;
}

.box3right > h2 {
    font-size: 45px;
    color: var(--con1white);
    margin-bottom: 15px;
}

.box3right > p {
    color: var(--con1grey);
    margin-bottom: 15px;
}

#btn3 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: 1px solid var(--con1button);
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}

#btn3:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}

#btn4 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 52px 10px 52px;
    border: 1px solid var(--con1white);
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: transparent;
    transition: .6s;
}

#btn4:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}





/*-------------------------------- Container 4 -------------------------------------------------*/
.container4 {
    height: 100vh;
    background-image: url(../media/backgroundblur4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box4left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 15%;
}

.box4left > h1 {
    font-size: 45px;
    color: var(--con1button);
    margin-bottom: 15px;
}

.box4left > h2 {
    font-size: 45px;
    color: var(--con1white);
    margin-bottom: 15px;
}

.box4left > p {
    color: var(--con1grey);
    margin-bottom: 15px;
}

#btn5 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border: 1px solid var(--con1button);
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}

#btn5:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}
