* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Roots */
:root {
    --con1white: #ffffff;
    --con1button: #ff2d55;
    --con1grey: #cfcecd;
    --con3darkgrey: #1f211e;
    --con4textcolor: #222532;
}




/*-------------------------------- Container 1 -------------------------------------------------*/
.container1 {
    height: 100vh;
    background-image: url(../media/background1.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

/* Styling Navbar1 */
.navbar1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav10, .nav11 {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 4.5%;
}

#nav100 > a, #nav101 > a, #nav102 > a, #nav103 > a, #nav104 > a, #nav105 > a, #nav106 > a, #nav110 > a, #nav111 > a {
    text-decoration: none;
    color: var(--con1white);
    font-weight: bold;
    font-size: small;
    transition: 0.6s;
}

#nav100 > a:hover, #nav101 > a:hover, #nav102 > a:hover, #nav103 > a:hover, #nav104 > a:hover, #nav105 > a:hover, #nav106 > a:hover {
    font-size: medium;
}

#nav111 {
    border: 1px solid var(--con1button);
    border-radius: 2.5px;
    background-color: var(--con1button);
    padding: 5px;
    transition: 0.6s;
}
#nav111:hover {
    background-color: var(--con1white);
}
#nav111 > a:hover {
    color: var(--con1button);
}

/* Styling Main1 */
.main1 {
    display: flex;
    flex-direction: column;
}

.box1 {
    color: var(--con1white);
    margin-left: 10%;
    margin-top: 15%;
    letter-spacing: .5px;
}

.box1 > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.box1 > p {
    font-size: 17.5px;
    margin-bottom: 20px;
}

#btn1 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: none;
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}
#btn1:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}




/*-------------------------------- Container 2 -------------------------------------------------*/
.container2 {
    height: 100vh;
    background-image: url(../media/background2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.box2 {
    color: var(--con1white);
    margin-left: 10%;
    margin-top: 15%;
    letter-spacing: .5px;
}

.box2 > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.box2 > h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.box2 > p {
    font-size: 17.5px;
    margin-bottom: 20px;
}

#btn2 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: none;
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}
#btn2:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}




/*-------------------------------- Container 3 -------------------------------------------------*/
.container3 {
    height: 100vh;
    background-image: url(../media/backgroundblur3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box3right {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.box3right > h1 {
    font-size: 45px;
    color: var(--con1button);
    margin-bottom: 15px;
}

.box3right > h2 {
    font-size: 45px;
    color: var(--con1white);
    margin-bottom: 15px;
}

.box3right > p {
    color: var(--con1grey);
    margin-bottom: 15px;
}

#btn3 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: 1px solid var(--con1button);
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}

#btn3:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}

#btn4 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 52px 10px 52px;
    border: 1px solid var(--con1white);
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: transparent;
    transition: .6s;
}

#btn4:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}





/*-------------------------------- Container 4 -------------------------------------------------*/
.container4 {
    height: 100vh;
    background-image: url(../media/backgroundblur4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box4left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20%;
}

.box4left > h1 {
    font-size: 45px;
    color: var(--con1button);
    margin-bottom: 15px;
}

.box4left > h2 {
    font-size: 45px;
    color: var(--con1white);
    margin-bottom: 15px;
}

.box4left > p {
    color: var(--con1grey);
    margin-bottom: 15px;
}

#btn5 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border: 1px solid var(--con1button);
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}

#btn5:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}






/*-------------------------------- Container5 -------------------------------------------------*/
.container5 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.con5up, .con5down{
    border: 1px solid white; /*No comment for this code lol*/
    height: 50vh;
    margin: 0 10% 0 10%;
}

/* Con5up */
.con5upHeaderSection {
    margin-left: 2%;
}

.con5upHeaderSection > h1 {
    margin-top: 15%;
    font-size: 45px;
    color: var(--con4textcolor);
}

.con5upButtonSection {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 3fr;
}

.con5upButtonSection {
    margin-top: 5%;
}

#btn6 {
    font-size: 8.5px;
    font-weight: bold;
    padding: 10px 55px 10px 55px;
    border: 1px solid var(--con1white);
    border-radius: 10px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
    margin-left: 10%;
}

#btn6:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}

#btn7 {
    font-size: 8.5px;
    font-weight: bold;
    padding: 10px 55px 10px 55px;
    border: 1px solid var(--con1grey);
    border-radius: 10px;
    color: var(--con4textcolor);
    background-color: var(--con1grey);
    transition: .6s;
}

#btn7:hover {
    cursor: pointer;
    color: var(--con4textcolor);
    background-color: var(--con1white);
}

.con5upButtonSection > a {
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: var(--con1button);
    transition: .6s;
}

.con5upButtonSection > a:hover {
    color: var(--con4textcolor);
}

/* Con5down */
.con5down {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.con5down > div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--con1white);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 10%;
    padding: 10%;
    border-radius: 10px;
    transition: 0.6s;
    background-image: url(../media/backgroundblur3.png);
    background-position: center;
    background-size: cover;
}

.con5down > div:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px var(--con4textcolor);
}





/*-------------------------------- Container6 -------------------------------------------------*/
.container6 {
    height: 100vh;
    display: grid;
    grid-template-rows: 4.5fr 5.5fr;
}

.wrapper6 {
    border: 1px solid black;
    background-image: url(../media/background6.jpg);
    background-position: center;
    background-size: cover;
    padding: 10%;
}

.wrapper6 > h1 {
    font-size: 30px;
    font-weight: lighter;
    color: var(--con1button);
    margin-bottom: 10px;
}

.wrapper6 > h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--con1white);
    margin-bottom: 7.5px;
}

.wrapper6 > p {
    color: var(--con1grey);
    margin-bottom: 15px;
}

#btn8 {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 65px 10px 65px;
    border: none;
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}
#btn8:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
}





/*-------------------------------- Container7 -------------------------------------------------*/
.wrapper7 {
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.wrapper7 > div {
    padding: 0 10% 0 10%;
}

.con7upHeaderSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25%;
}

.con7downDAOSection {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.con7downDAOSection  img {
    border-radius: 5px;
}

.con7downDAOSection p {
    font-size: 10px;
    font-weight: bold;
    color: var(--con4textcolor);
    margin: 5px;
}

.con7downDAOSection h3 {
    font-size: 15px;
    color: var(--con3darkgrey);
}






/*-------------------------------- Container8 -------------------------------------------------*/
.container8 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left8 {
    display: grid;
    grid-template-rows: 5fr 2fr;
    padding-left: 20%;
}

.left8text {
    padding-top: 60%;
}

.left8text > h1 {
    font-weight: lighter;
    padding-bottom: 15px;
}

.left8text > p {
    color: var(--con4textcolor);
    padding-bottom: 15px;
}

#btn9 {
    font-size: 15px;
    font-weight: bold;
    padding: 1% 4.5% 1% 4.5%;
    border: none;
    border-radius: 2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}

#btn9:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
    border: 1px solid var(--con1button);
}

.footer8left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer8left > a {
    font-size: 13px;
    color: var(--con4textcolor);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15%;
}



.right8 {
    display: grid;
    grid-template-rows: 5fr 2fr;
    padding-right: 20%;
}

.right8text {
    padding-top: 60%;
    padding-left: 20%;
}

.right8text > h1 {
    font-weight: lighter;
    padding-bottom: 15px;
}

.right8text > p {
    color: var(--con4textcolor);
    padding-bottom: 15px;
}

#btn10 {
    font-size: 15px;
    font-weight: bold;
    padding: 1% 4.5% 1% 4.5%;
    border: none;
    border-radius:  2.5px;
    color: var(--con1white);
    background-color: var(--con1button);
    transition: .6s;
}

#btn10:hover {
    cursor: pointer;
    color: var(--con1button);
    background-color: var(--con1white);
    border: 1px solid var(--con1button);
}

.right8text > input {
    padding: 1% 3% 1% 3%;
    border: 1.5px solid var(--con3darkgrey);
    border-radius: 2.5px;
    margin-right: 1%;
}

.footer8right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    padding-right: 5%;
}

.footer8right > a {
    font-size: 15px;
    color: var(--con4textcolor);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3%;
    transition: 0.6s;
}

.footer8right > a:hover {
    color: var(--con1button);
}


@media {
    
}
